body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
/* Шапка */
.logo {
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
}

.studio {
  color: #2e2f42;
}

.menu {
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-link:focus {
  color: #404bbf;
}
/* Секция контакты */
.contacts {
  font-style: normal;
}
.list-contacts {
  list-style: none;
}

.cards-contacts-link {
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.cards-contacts-link:hover {
  color: #404bbf;
}

.cards-contacts-link:focus {
  color: #404bbf;
}
/* Секция заказа */
.order {
  background-color: #2e2f42;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 1.12px;
  line-height: 1.02;
  text-align: center;
}

.button-order {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.64px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
/* Секция характеристики */
.list-characteristics {
  list-style: none;
}
.cards-characteristics > h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.02;
  letter-spacing: 0.4px;
}
.text-characteristics {
  font-size: 16px;
  line-height: 1.02;
  letter-spacing: 0.32px;
  color: #434455;
}
/* Секция команда*/
.team {
  background-color: #f4f4fd;
}
.team > h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.02;
  text-align: center;
}
.team-list {
  list-style: none;
}
.card-team > h3 {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 1.02;
}
.card-team > p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.02;
}
/* Секция портфолио */

.portfolio > h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.02;
  text-align: center;
}

.portfolio-list {
  list-style: none;
}

.card-portfolio > h3 {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 1.02;
}

.card-portfolio > p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.02;
}
/* Футер */
footer {
  background-color: #2e2f42;
  height: 312px;
}
.logo-footer {
  text-decoration: none;
  color: #f4f4fd;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.54px;
  line-height: 1.03;
}
.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.02;
}
